<!DOCTYPE html>
<html>
<head>
    <title>BitBox</title>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link href=
    "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel=
    "stylesheet" type="text/css">
    <link href=
    "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet">
    <link href="assets/styles/bitcoin.css" rel="stylesheet">
    <link href="assets/styles/style.css" rel="stylesheet">
    <link href="assets/styles/calculator.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60775848-1', 'auto');
    ga('send', 'pageview');

    </script>
</head>
<body id="Gate">
    {% include /nav.html %}
    {{content}}
</body>
</html>